section {
  height: 200px;
  width: 80%;
}

body {
  background-color: lightgray;
}

.cover-photo {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

#company {
  color: white;
  background-color: turquoise;
  text-align: left;
}

#careers {
  color: white;
  background-color: turquoise;
  text-align: left;
}

#media-impact {
  color: white;
  background-color: turquoise;
  text-align: left;
}

#company-section-img {
  padding: 10px;
  height: 175px;
  float: left;
}

#careers-section-img {
  padding: 10px;
  height: 170px;
  float: right;
}

#media-section-img {
  padding: 10px;
  height: 170px;
  float: left;
}

.sidenav {
  background-color: turquoise;
  color: white;
  text-align: center;
  float: right;
  width: 200px;
  height: 645px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav h1 {
  float: left;
  font-size: 20px;
  color: white;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: turquoise;
  color: black;
}

.topnav a.active {
  background-color: turquoise;
  color: white;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
  font-family: bold;
  font-size: small;
}
