section {
  height: 200px;
  width: 80%;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(160, 156, 156);
}

.cover-photo {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

/* Section information regarding company information */

#company {
  color: white;
  background-color: turquoise;
  text-align: left;
}

#careers {
  color: white;
  background-color: turquoise;
  text-align: left;
}

#media-impact {
  color: white;
  background-color: turquoise;
  text-align: left;
}
/* Section applying images to reflect the company. */

#company-section-img {
  padding: 10px;
  height: 175px;
  float: left;
}

#careers-section-img {
  padding: 10px;
  height: 170px;
  float: right;
}

#media-section-img {
  padding: 10px;
  height: 170px;
  float: left;
}

.sidenav {
  background-color: rgb(112, 223, 212);
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  float: right;
  width: 200px;
  height: 600px;
}

h3 {
  text-decoration: underline;
}

/* Section for updating and modifying the navbar */

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav h1 {
  float: left;
  font-size: 20px;
  color: white;
  padding: 1px 5%;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: turquoise;
  color: black;
}

.topnav a.active {
  background-color: turquoise;
  color: white;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
  font-family: bold;
  font-size: medium;
}
